doctype html
html
  include common.jade
  head
    +header
    title= article.title
  body
    include navbar.jade
    #container.container
      #article
        h1= article.title
        div
          +userLabel(article.author)
          +humanTimeLabel(article.whenCreated)
        div=! article.outputContent
    +footer