doctype html
html
  include common.jade
  head
    +header
    block customHeader
      title PubState
  body
    include topnav.jade
    #main-content.container
      #alerts-holder
      block mainContent
    +footer
    block customFooter
