doctype html
html
  include common.jade
  head
    +header
    block customHeader
      title PubState
  body
    include navbar.jade
    #main-content.container
      block mainContent
    +footer
    block customFooter